@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.ActionLink("chooser", "home")">Chooser</a>
    <h1 class="display-4">Welcome</h1>
    <p>Foundation is a library that provide helper to build a GC web application complient.</p>

    <h2>Features:</h2>
    <ul>
        <li>Implement <a href="https://design-system.alpha.canada.ca/en/">GC design system</a></li>
        <li>Include security module</li>
        <li>Standardise form error handling</li>
        <li>Collection of components</li>
    </ul>
</div>
