@{
    ViewData["Title"] = "Styles - Utility Classes Documentation";
}

<gcds-heading tag="h1" margin-bottom="400">Utility Classes Documentation</gcds-heading>

<gcds-grid columns="minmax(200px, 300px) minmax(0, 1fr)" align-content="@GCFoundation.Components.Enums.AlignContent.start">
    <gcds-side-nav label="On this page">
        <gcds-nav-link href="#overview">Overview</gcds-nav-link>
        <gcds-nav-link href="#spacing">Spacing Scale</gcds-nav-link>
        <gcds-nav-link href="#margins">Margin Utilities</gcds-nav-link>
        <gcds-nav-link href="#padding">Padding Utilities</gcds-nav-link>
        <gcds-nav-link href="#alignment">Alignment Utilities</gcds-nav-link>
        <gcds-nav-link href="#colors">Color Utilities</gcds-nav-link>
        <gcds-nav-link href="#borders">Border Utilities</gcds-nav-link>
        <gcds-nav-link href="#visibility">Display & Visibility</gcds-nav-link>
        <gcds-nav-link href="#dimensions">Width & Height</gcds-nav-link>
        <gcds-nav-link href="#responsive">Responsive Utilities</gcds-nav-link>
        <gcds-nav-link href="#size-tokens">Available Sizes</gcds-nav-link>
        <gcds-nav-link href="#best-practices">Best Practices</gcds-nav-link>
    </gcds-side-nav>
    <div class="documentation-content">
        <gcds-heading tag="h2" id="overview">Overview</gcds-heading>
        <gcds-text>
            This page documents all available utility classes in the GC Foundation system. These classes are based on the 
            <gcds-link href="https://design-system.alpha.canada.ca/en/styles/spacing/">GCDS design system spacing</gcds-link> 
            and provide a consistent way to apply styling throughout your application.
        </gcds-text>

        <hr />

        <gcds-heading tag="h2" id="spacing" margin-bottom="300">Spacing Scale</gcds-heading>
        <gcds-text margin-bottom="300">
            All spacing utilities are based on a consistent scale that follows the GCDS design system:
        </gcds-text>
        
        <div class="table-responsive fdcp-mb-500">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Value (rem)</th>
                        <th>Value (px)</th>
                        <th>Example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>0</td><td>0rem</td><td>0px</td><td><div class="fdcp-bg-blue-100 fdcp-p-0 demo-box"></div></td></tr>
                    <tr><td>25</td><td>0.125rem</td><td>2px</td><td><div class="fdcp-bg-blue-100 fdcp-p-25 demo-box"></div></td></tr>
                    <tr><td>50</td><td>0.25rem</td><td>4px</td><td><div class="fdcp-bg-blue-100 fdcp-p-50 demo-box"></div></td></tr>
                    <tr><td>100</td><td>0.5rem</td><td>8px</td><td><div class="fdcp-bg-blue-100 fdcp-p-100 demo-box"></div></td></tr>
                    <tr><td>200</td><td>1rem</td><td>16px</td><td><div class="fdcp-bg-blue-100 fdcp-p-200 demo-box"></div></td></tr>
                    <tr><td>300</td><td>1.5rem</td><td>24px</td><td><div class="fdcp-bg-blue-100 fdcp-p-300 demo-box"></div></td></tr>
                    <tr><td>400</td><td>2rem</td><td>32px</td><td><div class="fdcp-bg-blue-100 fdcp-p-400 demo-box"></div></td></tr>
                    <tr><td>500</td><td>2.5rem</td><td>40px</td><td><div class="fdcp-bg-blue-100 fdcp-p-500 demo-box"></div></td></tr>
                    <tr><td>600</td><td>3rem</td><td>48px</td><td><div class="fdcp-bg-blue-100 fdcp-p-600 demo-box"></div></td></tr>
                    <tr><td>1000</td><td>5rem</td><td>80px</td><td><div class="fdcp-bg-blue-100 fdcp-p-1000 demo-box"></div></td></tr>
                </tbody>
            </table>
        </div>

        <hr />

        <gcds-heading tag="h2" id="margins" margin-bottom="300">Margin Utilities</gcds-heading>
        <gcds-text margin-bottom="300">
            Apply margin spacing using these utility classes:
        </gcds-text>
        
        <div class="table-responsive fdcp-mb-500">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Class Pattern</th>
                        <th>Property</th>
                        <th>Example</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><code>.fdcp-m-{size}</code></td><td>margin</td><td><code>.fdcp-m-300</code></td><td>All sides margin</td></tr>
                    <tr><td><code>.fdcp-mt-{size}</code></td><td>margin-top</td><td><code>.fdcp-mt-200</code></td><td>Top margin</td></tr>
                    <tr><td><code>.fdcp-mb-{size}</code></td><td>margin-bottom</td><td><code>.fdcp-mb-400</code></td><td>Bottom margin</td></tr>
                    <tr><td><code>.fdcp-ml-{size}</code></td><td>margin-left</td><td><code>.fdcp-ml-100</code></td><td>Left margin</td></tr>
                    <tr><td><code>.fdcp-mr-{size}</code></td><td>margin-right</td><td><code>.fdcp-mr-100</code></td><td>Right margin</td></tr>
                    <tr><td><code>.fdcp-mx-{size}</code></td><td>margin-left & margin-right</td><td><code>.fdcp-mx-300</code></td><td>Horizontal margins</td></tr>
                    <tr><td><code>.fdcp-my-{size}</code></td><td>margin-top & margin-bottom</td><td><code>.fdcp-my-200</code></td><td>Vertical margins</td></tr>
                    <tr><td><code>.fdcp-m-auto</code></td><td>margin: auto</td><td><code>.fdcp-mx-auto</code></td><td>Auto margins for centering</td></tr>
                </tbody>
            </table>
        </div>

        <div class="fdcp-bg-gray-50 fdcp-p-300 fdcp-mb-400">
            <gcds-heading tag="h4" margin-bottom="200">Example Usage:</gcds-heading>
<pre class="fdcp-mb-0"><code>&lt;div class="fdcp-mt-400 fdcp-mb-200"&gt;
  This div has top margin of 32px and bottom margin of 16px
&lt;/div&gt;

&lt;div class="fdcp-mx-auto demo-centered"&gt;
  This div is horizontally centered
&lt;/div&gt;</code></pre>
        </div>

        <hr />

        <gcds-heading tag="h2" id="padding" margin-bottom="300">Padding Utilities</gcds-heading>
        <gcds-text margin-bottom="300">
            Apply padding spacing using these utility classes (same pattern as margins but with 'p' instead of 'm'):
        </gcds-text>
        
        <div class="table-responsive fdcp-mb-500">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Class Pattern</th>
                        <th>Property</th>
                        <th>Example</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><code>.fdcp-p-{size}</code></td><td>padding</td><td><code>.fdcp-p-300</code></td><td>All sides padding</td></tr>
                    <tr><td><code>.fdcp-pt-{size}</code></td><td>padding-top</td><td><code>.fdcp-pt-200</code></td><td>Top padding</td></tr>
                    <tr><td><code>.fdcp-pb-{size}</code></td><td>padding-bottom</td><td><code>.fdcp-pb-400</code></td><td>Bottom padding</td></tr>
                    <tr><td><code>.fdcp-pl-{size}</code></td><td>padding-left</td><td><code>.fdcp-pl-100</code></td><td>Left padding</td></tr>
                    <tr><td><code>.fdcp-pr-{size}</code></td><td>padding-right</td><td><code>.fdcp-pr-100</code></td><td>Right padding</td></tr>
                    <tr><td><code>.fdcp-px-{size}</code></td><td>padding-left & padding-right</td><td><code>.fdcp-px-300</code></td><td>Horizontal padding</td></tr>
                    <tr><td><code>.fdcp-py-{size}</code></td><td>padding-top & padding-bottom</td><td><code>.fdcp-py-200</code></td><td>Vertical padding</td></tr>
                </tbody>
            </table>
        </div>

        <hr />

        <gcds-heading tag="h2" id="alignment" margin-bottom="300">Alignment Utilities</gcds-heading>
            
            <gcds-heading tag="h3" margin-bottom="200">Text Alignment</gcds-heading>
            <div class="table-responsive fdcp-mb-400">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Property</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><code>.fdcp-text-left</code></td><td>text-align: left</td><td><div class="fdcp-text-left fdcp-bg-gray-50 fdcp-p-100">Left aligned text</div></td></tr>
                        <tr><td><code>.fdcp-text-center</code></td><td>text-align: center</td><td><div class="fdcp-text-center fdcp-bg-gray-50 fdcp-p-100">Center aligned text</div></td></tr>
                        <tr><td><code>.fdcp-text-right</code></td><td>text-align: right</td><td><div class="fdcp-text-right fdcp-bg-gray-50 fdcp-p-100">Right aligned text</div></td></tr>
                        <tr><td><code>.fdcp-text-justify</code></td><td>text-align: justify</td><td><div class="fdcp-text-justify fdcp-bg-gray-50 fdcp-p-100">Justified text that spans multiple lines will be evenly distributed</div></td></tr>
                    </tbody>
                </table>
            </div>

            <gcds-heading tag="h3" margin-bottom="200">Flexbox Utilities</gcds-heading>
            <div class="table-responsive fdcp-mb-400">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Property</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><code>.fdcp-d-flex</code></td><td>display: flex</td><td>Enable flexbox</td></tr>
                        <tr><td><code>.fdcp-d-inline-flex</code></td><td>display: inline-flex</td><td>Enable inline flexbox</td></tr>
                        <tr><td><code>.fdcp-flex-row</code></td><td>flex-direction: row</td><td>Horizontal layout</td></tr>
                        <tr><td><code>.fdcp-flex-column</code></td><td>flex-direction: column</td><td>Vertical layout</td></tr>
                        <tr><td><code>.fdcp-justify-center</code></td><td>justify-content: center</td><td>Center items horizontally</td></tr>
                        <tr><td><code>.fdcp-justify-between</code></td><td>justify-content: space-between</td><td>Space items apart</td></tr>
                        <tr><td><code>.fdcp-align-items-center</code></td><td>align-items: center</td><td>Center items vertically</td></tr>
                        <tr><td><code>.fdcp-flex-fill</code></td><td>flex: 1 1 auto</td><td>Fill available space</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="fdcp-bg-gray-50 fdcp-p-300 fdcp-mb-400">
                <gcds-heading tag="h4" margin-bottom="200">Flexbox Example:</gcds-heading>
                <div class="fdcp-d-flex fdcp-justify-between fdcp-align-items-center fdcp-bg-blue-100 fdcp-p-200 fdcp-mb-200">
                    <div>Left item</div>
                    <div>Center item</div>
                    <div>Right item</div>
                </div>
                <pre class="fdcp-mb-0"><code>&lt;div class="fdcp-d-flex fdcp-justify-between fdcp-align-items-center"&gt;
  &lt;div&gt;Left item&lt;/div&gt;
  &lt;div&gt;Center item&lt;/div&gt;
  &lt;div&gt;Right item&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>

        <hr />

        <gcds-heading tag="h2" id="colors" margin-bottom="300">Color Utilities</gcds-heading>
            
            <gcds-heading tag="h3" margin-bottom="200">Text Colors</gcds-heading>
            <div class="fdcp-mb-400">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Primary Colors</h5>
                        <div class="fdcp-mb-200"><span class="fdcp-text-primary">.fdcp-text-primary</span> - Primary text color</div>
                        <div class="fdcp-mb-200"><span class="fdcp-text-secondary">.fdcp-text-secondary</span> - Secondary text color</div>
                        <div class="fdcp-mb-200"><span class="fdcp-text-muted">.fdcp-text-muted</span> - Muted text color</div>
                    </div>
                    <div class="col-md-6">
                        <h5>Link Colors</h5>
                        <div class="fdcp-mb-200"><span class="fdcp-text-link">.fdcp-text-link</span> - Default link color</div>
                        <div class="fdcp-mb-200"><span class="fdcp-text-link-hover">.fdcp-text-link-hover</span> - Link hover color</div>
                        <div class="fdcp-mb-200"><span class="fdcp-text-danger">.fdcp-text-danger</span> - Danger/error color</div>
                    </div>
                </div>
            </div>

            <gcds-heading tag="h3" margin-bottom="200">Background Colors</gcds-heading>
            <div class="fdcp-mb-400">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Basic Backgrounds</h5>
                        <div class="fdcp-bg-primary fdcp-p-100 fdcp-mb-100 fdcp-text-white">.fdcp-bg-primary</div>
                        <div class="fdcp-bg-light fdcp-p-100 fdcp-mb-100">.fdcp-bg-light</div>
                        <div class="fdcp-bg-white fdcp-p-100 fdcp-mb-100 fdcp-border">.fdcp-bg-white</div>
                    </div>
                    <div class="col-md-6">
                        <h5>Grayscale Backgrounds</h5>
                        <div class="fdcp-bg-gray-50 fdcp-p-100 fdcp-mb-100">.fdcp-bg-gray-50</div>
                        <div class="fdcp-bg-gray-100 fdcp-p-100 fdcp-mb-100">.fdcp-bg-gray-100</div>
                        <div class="fdcp-bg-gray-300 fdcp-p-100 fdcp-mb-100">.fdcp-bg-gray-300</div>
                    </div>
                </div>
        </div>

        <hr />

        <gcds-heading tag="h2" id="borders" margin-bottom="300">Border Utilities</gcds-heading>
            
            <div class="table-responsive fdcp-mb-400">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Property</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><code>.fdcp-border</code></td><td>border: 1px solid</td><td><div class="fdcp-border fdcp-p-100 fdcp-d-inline-block">Bordered</div></td></tr>
                        <tr><td><code>.fdcp-border-0</code></td><td>border: 0</td><td><div class="fdcp-border-0 fdcp-p-100 fdcp-d-inline-block fdcp-bg-gray-100">No border</div></td></tr>
                        <tr><td><code>.fdcp-rounded</code></td><td>border-radius: 0.25rem</td><td><div class="fdcp-border fdcp-rounded fdcp-p-100 fdcp-d-inline-block">Rounded</div></td></tr>
                        <tr><td><code>.fdcp-rounded-circle</code></td><td>border-radius: 50%</td><td><div class="fdcp-border fdcp-rounded-circle fdcp-p-100 fdcp-d-inline-block demo-circle"></div></td></tr>
                    </tbody>
                </table>
        </div>

        <hr />

        <gcds-heading tag="h2" id="visibility" margin-bottom="300">Display and Visibility Utilities</gcds-heading>
            
            <div class="table-responsive fdcp-mb-400">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Property</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><code>.fdcp-d-none</code></td><td>display: none</td><td>Hide element completely</td></tr>
                        <tr><td><code>.fdcp-d-block</code></td><td>display: block</td><td>Display as block element</td></tr>
                        <tr><td><code>.fdcp-d-inline-block</code></td><td>display: inline-block</td><td>Display as inline-block element</td></tr>
                        <tr><td><code>.fdcp-visible</code></td><td>visibility: visible</td><td>Make element visible</td></tr>
                        <tr><td><code>.fdcp-invisible</code></td><td>visibility: hidden</td><td>Hide element but keep space</td></tr>
                    </tbody>
                </table>
        </div>

        <hr />

        <gcds-heading tag="h2" id="dimensions" margin-bottom="300">Width and Height Utilities</gcds-heading>
            
            <div class="table-responsive fdcp-mb-400">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Property</th>
                            <th>Example</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><code>.fdcp-w-25</code></td><td>width: 25%</td><td><div class="fdcp-w-25 fdcp-bg-blue-100 fdcp-p-100">25% width</div></td></tr>
                        <tr><td><code>.fdcp-w-50</code></td><td>width: 50%</td><td><div class="fdcp-w-50 fdcp-bg-blue-100 fdcp-p-100">50% width</div></td></tr>
                        <tr><td><code>.fdcp-w-75</code></td><td>width: 75%</td><td><div class="fdcp-w-75 fdcp-bg-blue-100 fdcp-p-100">75% width</div></td></tr>
                        <tr><td><code>.fdcp-w-100</code></td><td>width: 100%</td><td><div class="fdcp-w-100 fdcp-bg-blue-100 fdcp-p-100">100% width</div></td></tr>
                    </tbody>
                </table>
        </div>

        <hr />

        <gcds-heading tag="h2" id="responsive" margin-bottom="300">Responsive Utilities</gcds-heading>
            <gcds-text margin-bottom="300">
                Responsive utilities allow you to show/hide elements at different screen sizes:
            </gcds-text>
            
            <div class="table-responsive fdcp-mb-400">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Breakpoint</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><code>.fdcp-d-sm-none</code></td><td>≥576px</td><td>Hide on small screens and up</td></tr>
                        <tr><td><code>.fdcp-d-md-flex</code></td><td>≥768px</td><td>Show as flex on medium screens and up</td></tr>
                        <tr><td><code>.fdcp-d-lg-block</code></td><td>≥992px</td><td>Show as block on large screens and up</td></tr>
                        <tr><td><code>.fdcp-d-xl-none</code></td><td>≥1200px</td><td>Hide on extra large screens and up</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="fdcp-bg-gray-50 fdcp-p-300">
                <gcds-heading tag="h4" margin-bottom="200">Example Usage:</gcds-heading>
                <pre class="fdcp-mb-0"><code>&lt;!-- Hide on mobile, show on desktop --&gt;
&lt;div class="fdcp-d-none fdcp-d-md-block"&gt;
  This content is hidden on mobile but visible on tablets and larger
&lt;/div&gt;

&lt;!-- Show on mobile, hide on desktop --&gt;
&lt;div class="fdcp-d-block fdcp-d-md-none"&gt;
  This content is visible on mobile but hidden on tablets and larger
&lt;/div&gt;</code></pre>
        </div>

        <hr />

        <gcds-heading tag="h2" id="size-tokens" margin-bottom="300">Available Size Tokens</gcds-heading>
            <gcds-text margin-bottom="300">
                All spacing utilities (margin and padding) support these size tokens:
            </gcds-text>
            
        <div class="fdcp-bg-gray-50 fdcp-p-300">
            <code>0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000</code>
        </div>

        <hr />

        <gcds-heading tag="h2" id="best-practices" margin-bottom="300">Best Practices</gcds-heading>
        <gcds-grid columns="repeat(2, 1fr)" gap="1rem">
            <div>
                <gcds-heading tag="h3" margin-bottom="200">✅ Do:</gcds-heading>
                <ul>
                    <li>Use consistent spacing tokens from the design system</li>
                    <li>Prefer utility classes for spacing over custom CSS</li>
                    <li>Use responsive utilities to optimize mobile experience</li>
                    <li>Combine utilities for complex layouts</li>
                    <li>Use semantic color classes (primary, secondary, danger)</li>
                </ul>
            </div>
            <div>
                <gcds-heading tag="h3" margin-bottom="200">❌ Don't:</gcds-heading>
                <ul>
                    <li>Create custom spacing values outside the scale</li>
                    <li>Use magic numbers for spacing</li>
                    <li>Override utility classes with custom CSS</li>
                    <li>Use too many utility classes that make HTML unreadable</li>
                    <li>Forget to test responsive behavior</li>
                </ul>
            </div>
        </gcds-grid>
    </div>
</gcds-grid> 