<div class="row">
	<div class="col">
		<gcds-heading tag="h1">
			Installtion
		</gcds-heading>
	</div>
</div>
<div class="row">
	<div class="col-md-auto">
		<gcds-side-nav label="On this page">
			<gcds-nav-link href="#">Components installation</gcds-nav-link>
			<gcds-nav-link href="#">Security installation</gcds-nav-link>
		</gcds-side-nav>
	</div>
	<div class="col">
		<gcds-heading tag="h2" >
			Components installation
		</gcds-heading>
		<gcds-text>
			To install Foundation components
		</gcds-text>
		<hr/>
		<gcds-heading tag="h2">
			Security installation
		</gcds-heading>
	</div>
</div>