@using Foundation.Web.Resources
<gcds-heading tag="h1">
	@Template.Index_PageTitle
</gcds-heading>

<gcds-text >
	@Template.Index_PageDescription
</gcds-text>

<gcds-grid columns-desktop="1fr 3fr" columns="1fr">
	<gcds-side-nav label="On this page">
		<gcds-nav-link href="#">Main template</gcds-nav-link>
		<gcds-nav-link href="#">Errors template</gcds-nav-link>
		<gcds-nav-link href="#">Language chooser tempate</gcds-nav-link>
	</gcds-side-nav>
	<div>
		<gcds-heading tag="h2">
			Main template
		</gcds-heading>

		<gcds-text>

		</gcds-text>

		<gcds-heading tag="h2">
			Errors template
		</gcds-heading>

		<gcds-text>
			Foundation template include 2 error template.
			<ul>
				<li><gcds-link href="@Url.Action("GlobalError", "Errors")">Global error</gcds-link></li>
				<li><gcds-link href="@Url.Action("NotFoundError", "Errors")">Not found</gcds-link></li></li>
			</ul>
		</gcds-text>

		<gcds-heading tag="h2">
			Language chooser tempate
		</gcds-heading>

		<gcds-text>
			Foundation include a language chooser page like Canada.ca splash screen.

		</gcds-text>
	</div>
</gcds-grid>