@section Scripts {
	<script src="/js/site.js" type="text/javascript"></script>
}

<gcds-button button-id="timeout-modal">
	Open time out modal
</gcds-button>

<gcds-button button-id="regular-modal">
	Open regular modal
</gcds-button>


@section Modals{
	<fdcp-modal id="timeout-modal" title="Session is about to close" is-static-backdrop="true">
		<fdcp-modal-body>
			<p>Your session is about to close!</p>
		</fdcp-modal-body>
		<fdcp-modal-footer>
			<gcds-button>Exit</gcds-button>
			<gcds-button>Extend my session</gcds-button>
		</fdcp-modal-footer>
	</fdcp-modal>
}
