@using Foundation.Components.Resources
@using Foundation.Components.Utilities
@{
	Layout = "_BillanguageErrorTemplate";
	string lang = LanguageUtility.GetCurrentApplicationLanguage();
}
<div>
	<gcds-notice type="@Foundation.Components.Enum.AlertTypeEnum.Danger" title="@ErrorsPage.GlobalError_Title">
		@ErrorsPage.GlobalError_Text
	</gcds-notice>
</div>
