@using Foundation.Common.Utilities
@using Foundation.Components.Enums
@using Foundation.Components.Resources
@using Foundation.Components.Helpers
@{
	Layout = "_BillanguageErrorTemplate";
	ViewData["Title"] = @ErrorsPage.GlobalError_Title;
	string lang = LanguageUtility.GetCurrentApplicationLanguage();
}
<div>
	<gcds-notice type="@Foundation.Components.Enums.AlertType.Danger" title="@ErrorsPage.GlobalError_Title">
		@Html.Raw(ErrorsPage.GlobalError_Text)
	</gcds-notice>
</div>
