@using Foundation.Common.Utilities
@using Foundation.Components.Resources
@using Foundation.Components.Utilities
@{
	Layout = "_BillanguageErrorTemplate";
	ViewData["Title"] = ErrorsPage.NotFound_Title;
	string lang = LanguageUtility.GetCurrentApplicationLanguage();
}
<div>
	<gcds-notice type="@Foundation.Components.Enum.AlertType.Danger" title="@ErrorsPage.NotFound_Title">
		@Html.Raw(@ErrorsPage.NotFound_Text)
	</gcds-notice>
</div>
