@using Foundation.Components.Utilities
@{
	Layout = null;
	string lang = LanguageUtility.GetCurrentApplicationLanguage();
}
<div>
	<gcds-error-message message-id="error-404">
		
	</gcds-error-message>
</div>
